/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "components/variables";
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

/* General elements */
#page {
  position: relative;
}

body {
  font-family: "Varela Round";
  color: $bodyText;
}

a:link, a:visited {
  color: $lightBlue;
  font-weight: strong;
  text-decoration: none;
}

p {
  margin: 0.5em 0;
}

strong {
  color: $lightBlue;
  font-weight: normal;
}

h1#page-title {
  color: $lightBlue;
  line-height: 1.1;
}

/* Forms */
.form-text, .form-textarea {
  border: 1px solid $lightBlue;
  color: $darkBlue;
  padding: 10px;
}

.form-text {
  height: 30px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}

.form-submit {
  color: white;
  background: $lightBlue;
  border: none;
  padding: 4px 8px;
  display: inline-block;
  text-transform: uppercase;
}

.messages.error {
  background: $orange;
  color: white;
}

input.error, textarea.error {
  background: $lightOrange;
}

/* Header & navigation */
#header {
  position: relative;
  min-height: 200px;
  padding-top: 58px;
  margin-bottom: 50px;
  .inner {
    max-width: 1220px;
	  margin-left: auto;
	  margin-right: auto;
	  a#logo {
	    position: absolute;
	    top: 60px;
	  }
	  .region-header {
	    margin-left: 25%;
	  }
	  .block-menu {
	    float: left;
	    margin-bottom: 0;
	    width: 50%;
	    ul.menu {
	      margin: 0;
	      padding: 0;
	      li {
	        list-style: none;
	        float: left;
	        margin-right: 10%;
	        a {
	          color: $orange;
	          font-size: 1.25em;
	          text-transform: uppercase;
	        }
	        li {
	          float: none;
	          margin-right: 0;
	          a {
	            color: $lightBlue;
	            font-size: 1em;
	            text-transform: none;
	          }
	        }
	      }
	    }
	  }
  }
}

/* Social Media icons */
.block-sm {
  float: left;
  width: 50%;
  text-align: right;
  ul.contact-items {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      clear: right;
      ul.sm-items {
        margin-bottom: 15px;
        li {
          clear: none;
          float: right;
          margin-left: 2px;
          width: 33px;
          height: 33px;
          line-height: 3;
          overflow: hidden;
          a {
            text-indent: 999em;
            display: block;
            height: 33px;
            background: url(../images/sprite-sm.png) no-repeat left center;
          }
          &.linkedin {
            a {
              background-position: -34px center;
            }
          }
          &.rss {
            a {
              background-position: -68px center;
            }
          }
          &.slideshare {
            a {
              background-position: -102px center;
            }
          } 
          &.googleplus {
            width: 39px;
            a {
              width: 39px;
              background-position: -136px center;
            }
          }
        }
      }
    }
  }
}


/* Generic styles */
#main {
  padding-top: 0;
}

/* Highlighted blocks */
#page {
  .region-highlighted {
    height: 250px;
    background: url(../images/bg-tagline.png) repeat-x center center;
    margin-bottom: 20px;
    .block-highlighted {
      margin-bottom: 0;
      ul {
        margin: 0;
        padding: 0;
        li {
          margin: 0;
          padding: 0;
          list-style: none;
			    .left {
			      color: $orange;
			      float: left;
			      margin-top: 75px;
			      width: 20%;
			      font-size: 0.875em;
			      .inner {
			        margin-right: 8%;
			        text-align: right;
			        font-size: 1.75em;
			        line-height: 1.3;
			        width: 60%;
			        float: right;
			      }
			    }
			    .right {
			      float: left;
			      width: 80%;
			      color: $lightBlue;
			      .inner {
		          position: relative;
		          top: 50px;
			        margin-left: 2%;
			        font-size: 2em;
			        line-height: 1.1;
			        strong {
			          font-size: 3em;
			        }
			      }
			    }
        }
      }
	  }
  }
}

/* Front page panels */
#main {
  .front-left {
    width: 20%;
    .panel-pane {
      .pane-content {
        padding-left: 20px;      
      }
    }
  }
  .front-center {
    width: 40%;
    .panel-pane {
      .pane-content {
        border-left: 1px solid #444;
        padding-left: 20px;
      }
    }
  }
  .front-right {
    width: 40%;
    .panel-pane {
      .pane-content {
        border-left: 1px solid #444;
        padding-left: 20px;
      }
    }
  }
}

/* Page blocks */
#main {
  .field-collection-container {
    border-bottom: none;
    margin-bottom: 0;
    .row {
      margin-left: -20px;
      margin-top: 20px;
      .item {
        width: 23%;
        float: left;
	      padding-left: 20px;
	      .title {
	        color: $lightBlue;
	        font-size: 1.25em;
	      }
	      .subtitle {
	        color: $orange;
	      }
      }
    }  
  }
}

/* Projects frontpage */
#main {
  .view-latest-projects {
    ul.projects-front {
      margin: 0;
      padding: 0;
      li.project {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 60px;
      }
    }
  }
}

/* News frontpage */
#main {
  .view-news {
    ul.news-items-front {
      margin: 0;
      padding: 0;
      li.news-item {
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
        list-style: none;
        .date {
          font-size: 0.825em;
        }
      }
    }
  }
}

/* News Overview page */
#main {
  .view-news {
    ul.news-items {
      margin: 0;
      padding: 0;
      li.news-item {
        margin: 0;
        margin-bottom: 40px;
        padding: 0;
        list-style: none;
        .title {
          font-size: 1.25em;
          line-height: 1;
        }
        .date {
          font-size: 0.75em;
          color: $orange;
          margin-bottom: 10px;
        }
      }
    }
  }
}

/* Left Sidebar */
.region-sidebar-first {
  /* Menu */
  .block-menu {
    ul.menu {
      margin: 0;
      padding: 0;
      margin-top: -50px;
      li {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        list-style: none;
        &.active-trail {
          a {
            font-weight: 900;
            color: $darkBlue;
          }
        }
      }
    }
  } 
}

body.sidebar-first {
  #content {
    border-left: 1px solid #444;
    article {
      margin-left: 10px;
    }
  }
}

/* Block and Pane titles */
.panel-pane	{
  h2.pane-title {
	  color: white;
	  display: inline-block;
	  font-size: 1em;
	  font-weight: lighter;
	  text-transform: uppercase;
	  margin-bottom: 10px;
	  background: $orange;
	  position: relative;
	  height: 40px;
	  overflow: hidden;
	  line-height: 30px;
	  span {
      margin: 0 8px;
	  }
	}
	.hoekske {
	  position: relative;
	  top: -43px;
	}
	.pane-content {
	  margin-top: -50px;
	}
}

.block	{
  h2.block-title {
	  color: white;
	  display: inline-block;
	  font-size: 1em;
	  font-weight: lighter;
	  text-transform: uppercase;
	  margin-bottom: 10px;
	  background: $orange;
	  position: relative;
	  height: 40px;
	  overflow: hidden;
	  line-height: 30px;
	  span {
      margin: 0 8px;
	  }
	}
	.block-hoekske {
	  position: relative;
	  top: -43px;
	}
}

/* "Submitted by" text */
.submitted {
  color: $orange;
  font-size: 0.825em;
   margin-top: 0;
}

/*
 * Footer
 * Sticky footer: see http://www.cssstickyfooter.com/
 */
* {
  margin: 0;
  padding: 0;
} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {
  height: 100%;
}

#page-wrapper {
  min-height: 100%;
}

#page-wrapper-inner {
  overflow:auto;
	padding-bottom: 440px;
}

#footer {
  position: relative;
	margin-top: -440px; /* negative value of footer height */
	height: 440px;
	clear:both;
	background: url(../images/footer-bg.png) no-repeat center top;
	.inner {
	  max-width: 1220px;
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 100px;
	  a {
	    color: white;
	  }
	  .block-secondary-menu {
	    border-bottom: 2px solid white;
	    padding-bottom: 20px;
	    ul {
	      margin: 0;
	      padding: 0;
	      text-align: right;
	      li {
	        margin: 0;
	        padding: 0;
	        list-style: none;
	        display: inline-block;
	        margin-right: 20px;
	        &.last {
	          margin-right: 0;
	        }
	      }
	    }
	  }
	  .block-footer-links {
	    ul.footer-links {
	      margin: 0;
	      padding: 0;
	      li.footer-link {
	        margin: 0;
	        padding: 0;
	        list-style: none;
	        width: 20%;
	        float: left;
	        margin-bottom: 5px;
	      }
	    }
	  }
	}
}

/* Contact form */
.webform-client-form {
  .webform-component {
    clear: both;
    padding-bottom: 10px;
    label {
      width: 20%;
      float: left;
      height: 30px;
      line-height: 30px;
      font-weight: lighter;
    }
    input.form-text {
      float: left;
      width: 80%;
    }
    textarea {
      float: left;
      width: 80% !important;
    }
  }
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->
*/
